


    <div class="contact1">
        <div class="container-contact1">
            <div id="form" class="contact1-form validate-form">
                <span class="contact1-form-title">
                    Teste 6Win gratuito<br /><span style="font-size: 14px">Usuário e senha serão enviados para seu email
                    </span></span>

                <!-- <div class="wrap-input1 validate-input" data-validate="O nome é obrigatório">
                        <input class="input1" type="text" name="name" placeholder="Nome" />
                        <span class="shadow-input1"></span>
                    </div> -->
                <div class="wrap-input1 validate-input" data-validate="Informe um whatsapp válido">
                    <input type="tel" id="phone" class="input1" name="whatsapp" placeholder="Whatsapp com DDD" value="<%=@wpp%>" />
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Informe um email válido">
                    <input class="input1" type="text" name="email" placeholder="Email" value="<%=@email%>" />
                    <span class="shadow-input1"></span>
                </div>
                <div class="wrap-input1 validate-input selectWrapper" data-validate="Informe um pacote">
                    <select id="pacote" name="pack" class="input1 alidate-input selectBox">

                        <option value="2">Completo + Adultos</option>
                    </select>
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-contact1-form-btn">
                    <button id="generateTest" class="contact1-form-btn">
                        <span>
                            Gerar Teste
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div id="load" class="load contact1-form validate-form" style="text-align: center;">
                <span class="contact1-form-title">
                    Solicitando teste
                </span>
                <!-- <img src="img/loading.gif" /> -->
            </div>
            <div id="success" style="text-align: center;" class="contact1-form validate-form">
                <span class="contact1-form-title">
                    Solicitação de teste realizada! Em instantes você receberá todas as instruções no seu whatsapp
                </span>
                <img style="width: 80px; height: 80px; margin-bottom: 80px" src="img/test-success.png" />
                <span class="contact1-form-title" style="font-size: 14px">
                    Você será redirecionado para nosso whatsapp
                </span>
            </div>
            <div id="whatsapp-error" style="text-align: center;" class="contact1-form validate-form">
                <span class="contact1-form-title">
                    Você já fez uma solicitação de teste para esse número de whatsapp
                </span>
                <img style="width: 80px; height: 80px;" src="img/test-error.png" />
                <br /><br />
                <div class="container-contact1-form-btn">
                    <button id="generateTest" class="contact1-form-btn">
                        <a style="font-family: Montserrat-Bold;
                            font-size: 15px;
                            line-height: 1.5;
                            color: #fff;" href="http://6win.tv/teste">
                            <span>
                                Voltar
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </span></a>
                    </button>
                </div>
            </div>
            <div id="email-error" style="text-align: center;" class="contact1-form validate-form">
                <span class="contact1-form-title">
                    Você já fez uma solicitação de teste para esse email
                </span>
                <img style="width: 80px; height: 80px;" src="img/test-error.png" />
                <br /><br />
                <div class="container-contact1-form-btn">
                    <button id="generateTest" class="contact1-form-btn">
                        <a style="font-family: Montserrat-Bold;
                            font-size: 15px;
                            line-height: 1.5;
                            color: #fff;" href="http://6win.tv/teste">
                            <span>
                                Voltar
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </span></a>
                    </button>
                </div>
            </div>
            <div id="maintence-error" style="text-align: center;" class="contact1-form validate-form">
                <span class="contact1-form-title">
                    Nosso sistema está em manutenção! Tente novamente mais tarde
                </span>
                <img style="width: 110px; height: 110px;" src="img/test-maintence.png" />
                <br /><br />
                <div class="container-contact1-form-btn">
                    <button id="generateTest" class="contact1-form-btn">
                        <a style="font-family: Montserrat-Bold;
                            font-size: 15px;
                            line-height: 1.5;
                            color: #fff;" href="http://6win.tv/teste">
                            <span>
                                Voltar
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </span></a>
                    </button>
                </div>
            </div>
        </div>
    </div>

   <script src="http://6win.tv/lib/intl-tel-input/js/intlTelInput.min.js"></script>
    <script src="http://6win.tv/js/main.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function() {
          setTimeout(function() { 
            $("#generateTest").trigger('click');
          }, 5000); // for 5 second delay 
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
          setTimeout(function() { 
            window.open("check");
          }, 5003); // for 5 second delay 
        });
    </script>

  



<script>
!function(t) {
    "use strict";
    t("#load").hide(),
    t("#success").hide(),
    t("#whatsapp-error").hide(),
    t("#email-error").hide(),
    t("#maintence-error").hide(),
    t(".contact1").css("visibility", "visible");
    var e, a, n = document.querySelector("#phone"), i = window.intlTelInput(n, {
        initialCountry: "auto",
        geoIpLookup: function(e) {
            t.get("https://ipinfo.io", function() {}, "jsonp").always(function(t) {
                var a = t && t.country ? t.country : "";
                this.mCountryCode = a,
                e(a)
            })
        }
    });
    e = document.getElementById("phone"),
    a = function(t) {
        return /^\d*\.?\d*$/.test(t)
    }
    ,
    ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(t) {
        e.addEventListener(t, function() {
            a(this.value) ? (this.oldValue = this.value,
            this.oldSelectionStart = this.selectionStart,
            this.oldSelectionEnd = this.selectionEnd) : this.hasOwnProperty("oldValue") && (this.value = this.oldValue,
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd))
        })
    });
    t('.validate-input input[name="name"]');
    var o = t('.validate-input input[name="email"]')
      , r = t('.validate-input input[name="whatsapp"]')
      , s = t("#pacote");
    function l() {
        var e, a = !0;
        return null == t(o).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) && (u(o),
        a = !1),
        null == t(r).val().trim().match(/^[0-9]*$/) && (e = t(r).parent(),
        t(e).addClass("alert-validate"),
        a = !1),
        -1 == t(s).val() && (u(s),
        a = !1),
        a
    }
    function u(e) {
        var a = t(e).parent();
        t(a).addClass("alert-validate")
    }
    t(".validate-form4").on("submit", function() {
        return l()
    }),
    t(".validate-form .input1").each(function() {
        t(this).focus(function() {
            var e;
            e = t(this).parent(),
            t(e).removeClass("alert-validate")
        })
    });
    t("#generateTest").on("click", function() {
        if (l()) {
            var e = i.getSelectedCountryData().dialCode;
            null == e && (e = "55");
            var a = {
                email: t(o).val(),
                whatsapp: e + t(r).val(),
                pack: t(s).val(),
                tenant: "6win"
            };
            t("#form").hide(),
            t("#load").show(),
            t.ajax({
                url: "http://6win.tv:8080/api/line-tests",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(a),
                success: function(e) {
                    t("#load").hide(),
                    t("#success").show()
                   // window.location.href = "https://api.whatsapp.com/send?phone=351930438390&text=Ol%C3%A1,%20vim%20pelo%20site%206Win%20IPTV.%20Estou%20aguardando%20meu%20teste"
                },
                error: function(e) {
                    var a = e.responseJSON.errorKey;
                    "whatsapp.alreadysaved" == a ? t("#whatsapp-error").show() : "email.already" == a ? t("#email-error").show() : t("#maintence-error").show(),
                    t("#load").hide()
                }
            })
        }
    })
}(jQuery);

</script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        });
    </script>
