
	<form id="rendered-form" action="http://6win.tv/teste">

<div class="rendered-form"><div class="fb-textarea form-group field-whatsapp"><label for="whatsapp" class="fb-textarea-label">Text Area</label><textarea type="textarea" class="form-control" name="whatsapp" id="whatsapp"></textarea></div>


<div class="fb-textarea form-group field-email"><label for="email" class="fb-textarea-label">Text Area</label><textarea type="textarea" class="form-control" name="email" id="email"></textarea></div>


<div class="fb-select form-group field-pack"><label for="pack" class="fb-select-label">Pack</label><select class="form-control" name="pack" id="pack"><option value="2" id="pack-1">FULL</option></select></div></div>


<input type="submit" value="Submit">

</form>